body {
  background-color: black;
}

.navbar {
    margin-bottom: 0;
    background-color: black;
    border: 0;
    font-size: 20px !important;
    letter-spacing: 4px;
}

.navbar-brand {
  font-size: 25px;
}

.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

header{
    background: url("https://upload.wikimedia.org/wikipedia/commons/9/94/Starry_Night_Over_the_Rhone.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 75%;
    width: 100%;
    background-attachment: fixed;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}

.headername {
  color: white;
  font-family: arial;
  text-align: center;
  text-shadow: 2px 2px grey;
  top: 200px;
  left: 0;
  width: 100%;
  margin-top: 100px;;
  font-size: 65px;
}

.headertitle {
  color: white;
  font-family: arial;
  text-align: center;
  text-shadow: 2px 2px grey;
  top: 300px;
  left: 0;
  width: 100%;
  font-size: 40px;
  padding-bottom: 20px;
}

section h2 {
  text-align: center;
  font-family: arial;
  color: grey;
  font-size: 40px;
  text-shadow: 1px 1px white;
}


table td {
	border: 1px #70b8ff dashed;
}

tr td {
  width: 220px;
  text-align: center;
  font-family: "arial";
  color: white;
  padding: 20px;
}

tr td img {
  height: 250px;
  width: 400px;
  margin: 5px;
}

td a {
  font-size: 25px;
  color: white;
}

.portfolio-item {
  position: relative;
  height: 275px;
  width: 425px;
}

.primary {
  positionx: absolute;
  top: 0;
  border-radius: 5px;
}

.secondary {
  height: 250px;
  width: 400px;
  background-color: grey;
  position: absolute;
  opacity: 0;
  top: 77px;
  transition: 1s;
  margin: 5px;
  border-radius: 5px;
}

.secondary:hover {
  opacity: .9;
  transition: 1s;
}

td p {
  text-align: center;
  color: black;
  font-family: arial;
  padding: 20px;
  padding-top: 60px;
  font-size: 20px;
}

footer p {
  text-align: center;
  color: white;
  font-family: arial;
  padding: 5px;
}
