.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 20px !important;
    letter-spacing: 4px;
}

.navbar-brand {
  font-size: 25px;
}

.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}
